*.ipynb linguist-language= Jupyter Notebook
*.html linguist-vendored
index.html linguist-vendored
contenttype.html linguist-vendored
contenttrend.html linguist-vendored
sentiment.html linguist-vendored
topactors.html linguist-vendored
topdirectors.html linguist-vendored
topcountries.html linguist-vendored

